*{
    box-sizing: border-box;
}
body{
    font-family:arial:
    margin:0;

}
.header{
    padding:60px;
    text-align:center;
    background: #1abc9c;
    color:white;
}
.navbar{
    display:flex;
    flex-direction:column;

    background-color:#333;
}
.navbar a{
    color:white;
    padding:14px 20px;
    text-decoration: none;
    text-align:center;
}
.navbar a :hover{
    background-color: #ddd;
    color:black;
}
.row{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.side{
    flex:30%;
    background-color: #f1f1f1;
    padding:20px;
}
.main{
    flex:70%;
    background-color: white;
    padding:20px;
}
.fakeimg{
    background-color: #aaa;
    width:100%;
    padding:20px;
}
.footer{
    padding:20px;
    text-align:center;
    background-color: #ddd;
}